<section id="inicio">
  <main class="main-content">
    <div class="content-left">
      <h1 class="main-title">Controla tus finanzas con claridad y seguridad</h1>
      <p class="main-subtitle">
        Registra ingresos/egresos, crea presupuestos con alertas y obtén reportes exportables...
      </p>
    </div>
    <div class="content-right">
      <div class="image-placeholder">
        <img src="img/inicio.gif" alt="Registro animado" class="gif-ajustado">
      </div>
    </div>
  </main>
</section>
